<h2>Komentarze
    <span id="chatSumUpUp" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    <span id="chatSumUpDown" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    :
</h2>
<div id="chatSumUp">
    <p id="chat-header"></p>
    {% if userID %}
    <script src="/static/jq_cookieProvider.js" type="text/javascript"></script>
    <script>
    /* zmienne globalne */
    var old_comments=[];
    var chat_request_timeout;
    var js_user_id = "{{userID}}";
    var js_admin_id ="{{adminID}}";


    </script>


    <div class="chat-survey" id="chat-survey">
    </div>
    <script>
     jQuery.fn.extend({
  autoHeight: function () {
    function autoHeight_(element) {
      return jQuery(element)
        .css({ 'height': 'auto', 'overflow-y': 'hidden' })
        .height(element.scrollHeight);
    }
    return this.each(function() {
      autoHeight_(this).on('input', function() {
        autoHeight_(this);
      });
    });
  }
});


    </script>


    <div>
        <div id="comment" class="editComment container-fluid">
            <form id="jq_survey_add_comment_form" action="#" method="POST" class="form_with_captcha">
                {% csrf_token %}
                <input name="nickname" type="text" id="nickname" class="form-control" style="margin-bottom:10px"
                       placeholder="nick" value={{request.session.member_name}}_{{request.session.member_surname}}
                       required>
        <textarea rows="3" cols="80" name="comment_content" type="text" id="comment_content" class="form-control"
                  placeholder="komentarz"
                  maxlength="200"></textarea>

                <div style="width:100%; margin-top:10px;">
                    <input name="userID" type="hidden" id="userID" value={{userID}} required>
                    {{ capthaform }}
                </div>

                <div style="margin-top:10px; float:right;">
                    <img src="/static/images/refr.png" class='js-captcha-refresh' onclick="reloadcaptha()"/>
                    <img src="/static/images/sent.ico" class='js-captcha-refresh'
                         onclick="$('#jq_survey_add_comment_form').submit();"/>
                </div>

            </form>
        </div>
    </div>

</div>
<script>
    $(document).ready(function(){

        $("#chatSumUpUp").click(function(){
            $("#chatSumUpUp").hide();
            $("#chatSumUp").hide();
            $("#chatSumUpDown").show();
        });

        $("#chatSumUpDown").click(function(){
            $("#chatSumUpUp").show();
            $("#chatSumUp").show();
            $("#chatSumUpDown").hide();
        });

        $("#chatSumUpDown").hide();

    });

</script>

<script src="/static/jq_refresh_captcha.js" type="text/javascript"></script>
<script src="/static/jq_survey_chatController.js" type="text/javascript"></script>

{% endif %}

{% if adminID %}
<style>
    .comment:hover .del-comment{
         display:block;
    }
   


</style>

{% endif %}