{% if adminID %}
    <h1> Opcje ankiety i terminy:
          <span id="surveyFormUp" class="glyphicon glyphicon-chevron-up" aria-hidden="true" ></span>
          <span id="surveyFormDown" class="glyphicon glyphicon-chevron-down" aria-hidden="true" ></span>


    </h1>
    <div id="surveyForm">
        <script>
            $(document).ready(function(){
                $("#surveyFormUp").click(function(){
                    $("#surveyFormUp").hide();
                    $("#surveyForm").hide();
                    $("#surveyFormDown").show();
                });

                $("#surveyFormDown").click(function(){
                    $("#surveyFormUp").show();
                    $("#surveyForm").show();
                    $("#surveyFormDown").hide();
                });

                $("#surveyFormDown").hide();


            });

        </script>
{% endif %}


    <form action="#" id="surveyEditForm" method="post" class="form-signin">
        {% if adminID %}
        <input type="hidden" name="adminID" value="{{ adminID }}" />
        {% endif %}

        {% csrf_token %}
        <p>
            <label>Tytuł:</label>
            <input name="title" type="text" id="inputEmail" class="form-control" placeholder="Nazwa wydarzenia" required
                   autofocus value="{{ title }}">
            <label>Opis:</label>

        <textarea name="description" class="form-control" rows="5" id="comment"
                  placeholder="Szczegółowy opis wydarzenia" required>{{ description }}</textarea>

            {% if dateTimes %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Od:</th>
                <th>Do:</th>
            </tr>
            </thead>
            <tbody>

            <!--
            Przykładowa konfiguracja
                id1 - seria liczb 0,2,4,6
                id2 - seria liczb 1,3,5,7
                fromDate - daty (może być None) dal serii id1
                toDate - daty (może być None) dla serii id2
            -->
            {% for id, fromDate,toDate in dateTimes %}

            <tr>
                <td>
                    <div class='input-group date datetimepickerLeft'>
                        <input type='text' class="form-control" name="dateTimeFrom{{ id }}"
                               value="{{ fromDate|date:'m/d/Y h:iA'  }}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
                    <div class='input-group date datetimepickerRight'>
                        <input type='text' class="form-control" name="dateTimeTo{{ id }}"
                               value="{{ toDate|date:'m/d/Y h:iA'  }}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </p>

        <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;">
            {% if adminID %}
            Zapisz zmiany (dodaj nowe pola)
            {% else %}
            Utwórz ankietę
            {% endif %}
        </button>
    </form>

    {% if dateTimes %}
    <script type="text/javascript">

    $(function () {
        $('.datetimepickerLeft').datetimepicker();
        $('.datetimepickerRight').datetimepicker({
            useCurrent: false
        });

        $('.datetimepickerLeft').on("dp.change", function (e) {
            $(this).parent().parent().find('.datetimepickerRight').data("DateTimePicker").minDate(e.date);
        });

        $('.datetimepickerRight').on("dp.change", function (e) {
            $(this).parent().parent().find('.datetimepickerLeft').data("DateTimePicker").maxDate(e.date);
        });

    });
    {% endif %}

    </script>
        {% if adminID %}
    </div>
        {% endif %}