<div id="pageHeader">
    {% if request.session.member_id %}
    <h1>Zarządzanie kontem</h1>
    <p>
        <span class="glyphicon glyphicon-info-sign"></span>
        Tutaj możesz uzyskać dostęp do stworzonych przez Ciebie ankiet oraz zmieniać ustawienia swojego konta.
    </p>

    {% else %}
    <h1> Nie jesteś zalogowany </h1>
    {% endif %}
</div>

<div id="pageContent">
    <div class="col-sm-8" style="padding-left: 0px;">
        <div id="messageArea"></div>

        {% if request.session.member_id %}

        <div id="accountSumUp" class="partialView">
            <h1>Informacje o koncie:</h1>
            <table class="table-striped">
                <tr>
                    <td><strong>Imię:</strong></td>
                    <td>
                        {{ request.session.member_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            Nazwisko:
                        </strong>
                    </td>
                    <td>
                        {{ request.session.member_surname }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            Konto utworzone dnia:
                        </strong>
                    </td>

                    <td>
                        {{ signInDate }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            Email:
                        </strong>
                    </td>
                    <td>
                        {{ email }}
                    </td>
                </tr>

            </table>
        </div>

        <div id="accountDataChange" class="partialView" style="display: none;" >
            <h1>Zmiana danych osobowych</h1>
            <form action="#" id="jq_accoutDataChangeForm" method="post" class="form-signin">
                {% csrf_token %}

                <div class="form-group" style="width:100%; margin:0px;">
                    <label class="control-label" for="changeNameInput">Imię:</label>
                    <div style="position: relative;">
                        <input name="name" type="text" id="changeNameInput" class="form-control" value="{{ request.session.member_name }}" required>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <span class="help-block"></span>
                </div>

                <div class="form-group" style="width:100%; margin:0px;">
                    <label class="control-label" for="changeSurnameInput">Nazwisko</label>
                    <div style="position: relative;">
                        <input name="surname" type="text" id="changeSurnameInput" class="form-control"  value="{{ request.session.member_surname }}" required>
                        <span class="glyphicon form-control-feedback"></span>

                    </div>

                    <span class="help-block"></span>
                </div>

                <input type="submit" name="respond" value="Zmień" class="btn btn-default navbar-bt"/>
            </form>
        </div>

        <div id="accountChangePassword"  class="partialView" style="display: none;">
            <h1>Zmiana hasła</h1>
            <form action="" method="post" id="jq_accoutPasswordChangeForm">
                {% csrf_token %}

                <div class="form-group" style="width:100%; margin:0px;">
                    <div style="position: relative;">
                    <label class="control-label" for="changeOldPasswordInput">Stare Hasło:</label>
                        <input name="oldPassword" type="password" id="changeOldPasswordInput" class="form-control"  required>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <span class="help-block"></span>
                </div>

                <div class="form-group" style="width:100%; margin:0px;">
                    <label class="control-label" for="changeNewPasswordInput">Nowe Hasło:</label>
                    <div style="position: relative;">
                        <input name="newPassword" type="password" id="changeNewPasswordInput" class="form-control" required>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <span class="help-block"></span>
                </div>

                <div class="form-group" style="width:100%; margin:0px;">
                    <label class="control-label" for="changeNewPasswordRetypeInput">Powtórz nowe Hasło:</label>
                    <div style="position: relative;">
                        <input name="newPasswordRetype" type="password" id="changeNewPasswordRetypeInput" class="form-control" required>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <span class="help-block"></span>
                </div>

                <input type="submit" name="respond" value="zmień" class="btn btn-default navbar-bt"/>
            </form>
        </div>

        <div id="accountSurveyList" class="partialView" style="display: none;">
            <h1>Lista ankiet:</h1>
            <table class="table-striped">
                <thead>
                <tr>
                    <th>
                        Tytuł
                    </th>
                    <th>
                        ID administratora
                    </th>
                    <th>
                        ID wypełniającego
                    </th>
                    <th>
                        Usuń
                    </th>
                </tr>
                </thead>

                {% for title,adminID,userID in listOfSurveys %}
                <tr>
                    <td>
                        {{ title }}
                    </td>
                    <td>
                        <a href="{% url 'surveyManagementFormRedirector' %}?adminID={{ adminID }}"><strong>{{ adminID }}</strong></a>
                    </td>
                    <td>
                        <a href="{% url 'surveyAnswerFormRedirector' %}?userID={{ userID }}"><strong>{{ userID }}</strong></a>
                    </td>

                    <td>
                        <a href="{{ adminID }}" class="removeSurvey">
                            <span class="glyphicon glyphicon-remove-circle "></span></a>
                    </td>
                </tr>

                {% endfor %}
            </table>
        </div>


        <div id="accountStats" class="partialView" style="display: none;">
            <h1>Statystyki:</h1>

            <table class="table-striped">
                <tr>
                    <td><strong>Ilość dni od czasu rejestracji:</strong></td>
                    <td>
                        {{ daySinceRegister }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Liczba utworzonych ankiet:</strong></td>
                    <td>
                        {{ numberOfSurveys }}
                    </td>
                </tr>
                <tr>
                    <td><strong>W tym utworzonych ostatnio:</strong></td>
                    <td>
                        {{ numberOfRecentS }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Data utworzenia ostatniej ankiety:</strong></td>
                    <td>
                        {{ mostRecentSurvey }}
                    </td>
                </tr>
            </table>


            <div id="curve_chart" class="chartInPage" style="width: 100%"></div>

        </div>

    </div>

    <script src="/static/jq_cookieProvider.js" type="text/javascript"> </script>
    <script src="/static/jq_fieldMarkers.js" type="text/javascript"> </script>
    <script src="/static/jq_accountManagement.js" type="text/javascript"></script>
    <script src="/static/jq_drawChart.js" type="text/javascript"></script>
    <script>

        function drawAll(){
                $(".chartInPage").height($("#pageContent").width()*3/6);
                drawLineChart('Ilosc wyslanych ankiet w ciągu ostatnich 10 dni',"",{{ plotData|safe }},curve_chart);
        }
        $(document).ready(
            function(){
                drawAll();
            }

        );

        $( window ).resize(
            function(){
                drawAll();
            }
        );

    </script>

    <div class="col-sm-4">
        <div class="list-group">
            <a href="accountSumUp" class="list-group-item insideNavLinkHide">Informacje o koncie</a>
            <a href="accountDataChange" class="list-group-item insideNavLinkShow">Zmiana danych osobowych</a>
            <a href="accountChangePassword" class="list-group-item insideNavLinkShow">Zmień hasło</a>
            <a href="accountSurveyList" class="list-group-item insideNavLinkShow">Lista ankiet</a>
            <a href="accountStats" id="statsLink" class="list-group-item insideNavLinkShow">Statystyki</a>
        </div>
    </div>

    {% else %}
    {% endif %}
</div>
