{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="kuba" >
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Scheduler</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.css' %}">


    <script type="text/javascript" src="{% static 'externalScripts/loader.js' %}"></script>
    <script src="{% static 'externalScripts/jquery.min.js' %}"></script>

     <!-- Required by Toastr -->
    <!--
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <link href="{% static 'toastr.css' %}" rel="stylesheet"/>
    <script src="{% static 'externalScripts/toastr.js' %}"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
    </script>

    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}" sizes="48x48">

    <script src="{% static 'jq_fieldMarkers.js' %}" type="text/javascript"> </script>
    <script src="{% static 'jq_cookieProvider.js' %}" type="text/javascript"> </script>
    <script src="{% static 'jq_add_visitor.js' %}" type="text/javascript"> </script>

    <script>
        $(document).ready(function(){
            {% if loadPage %}

            $( "#navBar" ).load( "hidden/jqNavBar");
            var target= "{{ loadPage }}";
            $.get(target,function(data) {
                $("#pageHeader").html($(data).filter('#pageHeader').children());
                $("#pageContent").html($(data).filter('#pageContent').children());
            });

            {% else %}
                loadDefaultBody();
            {% endif %}
                loadLoginPane();
        });
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>

    <script src="{% static 'jq_pageController.js' %}"></script>

    <link rel="stylesheet" href="{% static 'my.css' %}">

</head>

<body>

<div class="container">
    <toaster-container toaster-options="{'time-out': 3000, 'position-class': 'toast-bottom-left', 'close-button':true, 'animation-class': 'toast-bottom-left'}"></toaster-container>

    <nav class="avbar navbar-fixed-top navbar-inverse" >
        <div class="container-fluid" id="navBar">
            <!-- tutaj ładowane są opcje menu zależnie od kontekstu
            na podstawie pliku jq_navBar !-->
        </div>
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class=container-fluid>
        <div class=row>
            <div class=col-sm-12 id="pageHeader">
                    <!-- Tytuł podstrony i najważniejsze informacje ładowany dynamicznie-->
                    <!-- Eg.
                        <h1>Ankieta</h1>
                        <p>
                            Utworzona przez
                            <span class="glyphicon glyphicon-user"></span>
                            Jan Kowalski dnia
                            <span class="glyphicon glyphicon-time"></span>
                            11.05.2016
                       </p>
                    -->
                
            </div>
        </div>

        <div class=row>
            <div class=col-sm-8 id="pageContent">
                <!-- Zawartość podstrony -->
                <!-- Eg.
                    <p class=lead> Coś ważnego </p>
                    <p> Inny tekst </p>
                -->

            </div>


            <div class=col-sm-4 id="loginPane">
                <!-- panel logowania formowany w zależności od kontekstu -->
            </div>

        </div>
    </div>

</div>

</body>
</html>
