<div id="pageHeader">
    <h1>Statystki strony</h1>
    <p>
        <span class="glyphicon glyphicon-info-sign"></span>
        Garść ważniejszych informacji na temat strony.
    </p>
</div>


<div id="pageContent">

    <h1>Użytkownicy: </h1>

    <table class="table-striped statisticTable">
        <tr>
            <td><strong>Liczba użytkowników:</strong></td>
            <td>
                {{ numberOfUsers }}
            </td>
        </tr>
        <tr>
            <td><strong>Zarejestrowanych dzisiaj:</strong></td>
            <td>
                {{ numberOfUsersToday }}
            </td>
        </tr>
        <tr>
            <td><strong>Najnowszy użytkownik(Serdecznie Witamy!):</strong></td>
            <td>
                {{ mostRecentUser }}
            </td>
        </tr>
    </table>

    <div id="chart3" class="chartInPage"></div>

    <form id='ps_u' action="#" method="POST">
    {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Od:</th>
                <th>Do:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class='input-group date' id='datetimepickerfu'>
                        <input type='text' class="form-control" name="dateTimeFrom"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepickertu'>
                        <input type='text' class="form-control" name="dateTimeTo"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
            <input type="hidden" name='plot_type' value='users_plot'>
            <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;" id="btn_users">get</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <hr/>

    <h1>Odwiedziny witryny: </h1>
    <table class="table-striped">
        <tr>
            <td style="padding:10px"><strong>Całkowita liczba odwiedzin:</strong></td>
            <td style="padding:10px">
            {{ numberOfViews }}
        </td>
        </tr>
        <tr>
            <td style="padding:10px"><strong>Liczba odwiedzin dzisiaj:</strong></td>
            <td style="padding:10px">
            {{ numberOfViewsToday }}
        </td>
        </tr>
    </table>
    <div id="chart4" class="chartInPage"></div>

    <form id='ps_v' action="#" method="POST">
    {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Od:</th>
                <th>Do:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class='input-group date' id='datetimepickerfv'>
                        <input type='text' class="form-control" name="dateTimeFrom"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepickertv'>
                        <input type='text' class="form-control" name="dateTimeTo"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
            <input type="hidden" name='plot_type' value='views_plot'>
            <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;" id="btn_views">get</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>


    <h1>Ankiety: </h1>

    <table class="table-striped statisticTable">
        <tr>
            <td><strong>Całkowita liczba Ankiet:</strong></td>
            <td>
                {{ numberOfSurveys}}
            </td>
        </tr>
        <tr>
            <td><strong>Liczba ankiet założonych dzisiaj:</strong></td>
            <td>
                {{ numberOfSurveysToday}}
            </td>
        </tr>
        <tr>
            <td><strong>Najnowsza Ankieta:</strong></td>
            <td>
                {{ mostRecentSurvey}}
            </td>
        </tr>
    </table>

    <div id="chart1" class="chartInPage" ></div>

    <form id='ps_s' action="." method="POST">
    {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Od:</th>
                <th>Do:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class='input-group date' id='datetimepickerfs'>
                        <input type='text' class="form-control" name="dateTimeFrom"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepickerts'>
                        <input type='text' class="form-control" name="dateTimeTo"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
            <input type="hidden" name='plot_type' value='surveys_plot'>
            <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;" id="btn_surveys">get</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <hr>


    <h1>Odpowiedzi: </h1>

    <table class="table-striped statisticTable">
        <tr>
            <td><strong>Liczba wszystkich Odpowiedzi:</strong></td>
            <td>
                {{ numberOfAnswers}}
            </td>
        </tr>
        <tr>
            <td><strong>Liczba odpowiedzi udzielonych dzisiaj:</strong></td>
            <td>
                {{ numberOfAnswersToday}}
            </td>
        </tr>
    </table>

    <div id="chart2" class="chartInPage" ></div>

    <form id='ps_a' action="." method="POST">
    {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Od:</th>
                <th>Do:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class='input-group date' id='datetimepickerfa'>
                        <input type='text' class="form-control" name="dateTimeFrom"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
                    <div class='input-group date' id='datetimepickerta'>
                        <input type='text' class="form-control" name="dateTimeTo"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </td>
                <td>
            <input type="hidden" name='plot_type' value='answers_plot'>
            <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;" id="btn_answers">get</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>




    <script src="/static/jq_drawChart.js" type="text/javascript"> </script>
    <script src="/static/jq_change_plot_data.js" type="text/javascript"> </script>
</div>