<div class="navbar-header">
    <a class="navbar-brand navMenuLink showLoginPane" href="{% url 'jq_default' %}">System planowania</a>
</div>
<ul class="nav navbar-nav">
    <li><a class="navMenuLink hideLoginPane" href="{% url 'jq_surveyManagementForm'  %}">Nowa ankieta</a></li>
    <li><a class="navMenuLink showLoginPane" href="{% url 'jq_surveyAnswer' %}">Wypełnij ankietę</a></li>
    <li><a class="navMenuLink showLoginPane" href="{% url 'jq_globalStatistic' %}">Statystyki</a></li>
    <li><a class="navMenuLink showLoginPane" href="{% url 'jq_contactForm' %}">Kontakt</a></li>
    <li><a class="navMenuLink showLoginPane" href="{% url 'jq_termsAndConditions'  %}">Regulamin</a></li>

</ul>

<ul class="nav navbar-nav navbar-right">
    {% if request.session.member_id %}
    <li><a class="navMenuLink hideLoginPane" href="{% url 'jq_accountManagement' %}">Konto</a></li>
    <li><a class="logOutButton" href="#">Wyloguj</a></li>
    {% else %}
    <li><a class="navMenuLink hideLoginPane" href="hidden/jqRegisterPanel">Zarejestruj</a></li>
    {% endif %}


    <li class="dropdown">
	 <a onclick="set_menu_function()" class='dropbtn'>&#9776;</a>
         <div id="myDropdown" class="dropdown-content">
              {% if request.session.member_id %}
              <a class="navMenuLink hideLoginPane" href="{% url 'jq_accountManagement' %}">Konto</a>
              <a class="logOutButton" href="#">Wyloguj</a>
              {% else %}
              <a class="navMenuLink hideLoginPane" href="hidden/jqRegisterPanel">Zarejestruj</a>
              {% endif %}
              <a class="navMenuLink hideLoginPane" href="{% url 'jq_surveyManagementForm'  %}">Nowa ankieta</a>
              <a class="navMenuLink showLoginPane" href="{% url 'jq_surveyAnswer' %}">Wypełnij ankietę</a>
              <a class="navMenuLink showLoginPane" href="{% url 'jq_globalStatistic' %}">Statystyki</a>
              <a class="navMenuLink showLoginPane" href="{% url 'jq_contactForm' %}">Kontakt</a>
              <a class="navMenuLink showLoginPane" href="{% url 'jq_termsAndConditions'  %}">Regulamin</a>
         </div>

    </li>

</ul>
