<div id="pageHeader">
    <h1>Rejestracja</h1>
    <p>
        Wypełnij poniższe pola i zapoznaj się z regulaminem
    </p>
</div>

<div id="pageContent">
    <form action="#" id="jq_register_form" method="post" class="form-horizontal">
        {% csrf_token %}

        {% for inputName,ID,name,type in fields  %}

        <div class="form-group" style="width:100%; margin:0px;">
            <label class="control-label" for="{{ ID }}">{{ name }}</label>
            <div style="position: relative;">
                <input name="{{ inputName }}" type="{{ type }}" id="{{ ID }}" class="form-control" required
                       autofocus>

                <span class="glyphicon form-control-feedback" ></span>

            </div>

            <span class="help-block"></span>
        </div>

        {% endfor %}

        <div class="form-group" style="width:100%; margin:0px; margin-bottom:10px;">
            <label class="control-label" for="termsAndConditionsAccepted">Regulamin:</label>
            <div id="termsAndConditions" class="termsAndConditionsRegister" />
            <input type="checkbox" name="accept" id="termsAndConditionsAccepted" value="accept" > Akceptuje powyższe warunki
            <span class="help-block"></span>
        </div>

        <button class="btn btn-default navbar-bt" type="submit" style="width: 100%;">Zarejestruj</button>
    </form>

    <script src="/static/jq_fieldMarkers.js" type="text/javascript"> </script>
    <script src="/static/jq_register_panel_js.js" type="text/javascript"></script>

</div>