<!DOCTYPE html>
<div id="pageHeader">
    <h1>Zresetuj hasło</h1>
    <p>
        <span class="glyphicon glyphicon-info-sign"></span>
        Tutaj możesz odzyskać hasło do konta. Pamiętaj nie opuszczaj tej strony przed zakończeniem procesu !!!.
    </p>

</div>

<div id="pageContent">


    <h3>
        Krok 1:
    </h3>
    <p>
        Wpisz swój adres email.
    </p>

    <form id="jq_restorePassword_email" action="#" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group" style="width:70%;  margin:0px;">
            <label class="control-label" for="restoreEmail">Email:</label>
            <div style="position: relative;">
                <input type="text" name="email" id="restoreEmail" class="form-control" required>
                <span class="glyphicon form-control-feedback"></span>
            </div>

            <span class="help-block"></span>
        </div>
        <input type="submit" id="step1Submit" name="respond" value="dalej" class="btn btn-default navbar-bt"/>
    </form>

    <h3>
        Krok 2:
    </h3>
    <p>
        Sprawdź swoją skrzynkę obiorczą. W czasie do 15 minut powinieneś dostać wiadomość z kodem odblokowującym.
    </p>

    <h3>
        Krok 3:
    </h3>
    <p>
        Wprowadź otrzymany kod i podaj nowe hasło.
    </p>

    <form id="jq_restorePassword_newPassword" action="#" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group" style="width:70%;  margin:0px;">
            <label class="control-label" for="secretCode">Kod:</label>
            <div style="position: relative;">
                <input type="password" id="secretCode" name="secretCode" class="form-control" required disabled="true">
                <span class="glyphicon form-control-feedback"></span>
            </div>

            <span class="help-block"></span>
        </div>

        <div class="form-group" style="width:70%;  margin:0px;">
            <label class="control-label" for="restorePassword">Nowe hasło:</label>
            <div style="position: relative;">
                <input type="password" id="restorePassword" name="restorePassword" class="form-control" required disabled="true">
                <span class="glyphicon form-control-feedback"></span>
            </div>

            <span class="help-block"></span>
        </div>

        <div class="form-group" style="width:70%;  margin:0px;">
            <label class="control-label" for="restorePasswordRetype">Powtórz hasło:</label>
            <div style="position: relative;">
                <input type="password" id="restorePasswordRetype" name="restorePasswordRetype" class="form-control" required disabled="true">
                <span class="glyphicon form-control-feedback"></span>
            </div>

            <span class="help-block"></span>
        </div>

        <input type="submit" id="step2Submit" name="respond" value="zakończ" class="btn btn-default navbar-bt" disabled="true"/>
    </form>

    <script src="/static/jq_validators.js" type="text/javascript"> </script>
    <script src="/static/jq_cookieProvider.js" type="text/javascript"> </script>
    <script src="/static/jq_fieldMarkers.js" type="text/javascript"> </script>
    <script src="/static/jq_restorePassword.js" type="text/javascript"></script>

</div>
