<div id="pageHeader">
    {% if request.session.member_id %}
    <h1>Zarządzanie i tworzenie ankiety</h1>
    <p>
        {% if creationDate %}
        Ankieta stworzona dnia:
        <span class="glyphicon glyphicon-time"></span>
        {{ creationDate }}
        {% else %}
        Wypełnij poniższe pola aby stworzyć nową ankietę
        {% endif %}

    </p>
    {% else %}
    <h1>Bład tworzenia ankiety </h1>
    {% endif %}
</div>

<div id="pageContent">
    {% if request.session.member_id %}

        {% include 'jq_survey_manager_components/jq_survey_manager_survey_access_details.html' %}

        {% include 'jq_survey_manager_components/jq_survey_manager_answers_sum_up.html' %}

        {% include 'jq_survey_manager_components/jq_survey_manager_answers_table.html' %}

        {% include 'jq_survey_manager_components/jq_survey_manager_survey_editor.html' %}

        {% include 'jq_survey_manager_components/jq_survey_manager_chat_section.html' %}

        <script src="/static/jq_fieldMarkers.js" type="text/javascript"> </script>
        <script src="/static/jq_surveyManagement.js" type="text/javascript"></script>
    {% else %}
    <p>
        Aby móc tworzyć ankiety musisz się zalogowac lub utworzyć bezpłatne konto.
    </p>
    {% endif %}
</div>
