/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body { padding-top: 70px; }

td { padding: 10px; }
th { padding: 10px; }
/**
 * Bootstrap requires a containing element to wrap site contents
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width,
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 1200px; }



/**
 * We can add some "helper classes" to add or remove margins to
 * help aspects of the layout. These helper classes should only
 * be used sparingly.
*/

.margin-t-0 { margin-top: 0; }
.margin-t-h { margin-top: .5em; }
.margin-t-1 { margin-top: 1em; }
.margin-t-2 { margin-top: 2em; }
.margin-t-3 { margin-top: 3em; }
.margin-b-0 { margin-bottom: 0; }
.margin-b-h { margin-bottom: .5em; }
.margin-b-1 { margin-bottom: 1em; }
.margin-b-2 { margin-bottom: 2em; }
.margin-b-3 { margin-bottom: 3em; }

.margin-tb-0
{
	margin-top: 0;
	margin-bottom: 0;
}

.margin-tb-h
{
	margin-top: .5em;
	margin-bottom: .5em;
}

.margin-tb-1
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.margin-tb-2
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-tb-3
{
	margin-top: 3em;
	margin-bottom: 3em;
}


.chartArea{
    left: 7%;
    top: 10%;
    visibility: hidden;
    width: 85%;
    height: 85%;
    position: fixed;
    z-index: 10;
    margin: auto;


    border-style: solid;
    border-color: #00AA00;
    border-width: 2px 2px 2px 2px;
    background-color: #FFFFFF;

}
.closeButtonForChart{
    right: 7%;
    top: 10%;
    visibility: hidden;
    color: #FF0000;
    position: fixed;
    z-index: 10;
    margin: auto;

    border-radius: 5px;

}

.termsAndConditionsRegister{
   height: 20vh;
   margin: 10px 0px;

   border-radius: 3px;
   border-color: #AAA;
   border-style: solid;
   border-width: 2px;
   overflow: auto;
}

.statisticTable tr td{
    padding: 10px;
}

.chartInPage{
    padding: 10px 0px;
}

.insideNavLinkHide{
   background-color:#cecece;
}

.insideNavLinkShow{
    background-color:#fff;
}

/*

new theme

*/
nav, .navbar-inverse{
	border-style: solid;
	background-color: white;
	background-image: none;
}

.navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    /* text-shadow: 0 -1px 0 rgba(0,0,0,.25); */
    	color: black;
	text-shadow: none;
}

.navbar-inverse .navbar-nav>li>a:hover , .navbar-inverse .navbar-nav>li>a:focus{
	color:#009688;
}

.navbar-inverse .navbar-nav>li>a:active{
        color:#009688;
}

.navbar #nav > .active > a {
    color: red;
}

.panel-default {
	border-color: black;
	border-radius: 1px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: white;
    font-weight: bolder;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 15px;
    color: #009688;
}

p{
	margin-top: 10px;
        margin-bottom: 10px;
}


.panel-default>.panel-heading {
	background-image: none;
    	border-radius: 1px;
    	background-color: black;
}


.list-group-item {
    border: 1px solid #5e5d5d;
}

h1{
	font-size: 30px;
}

#pageHeader h1{
	font-size: 36px;
}

hr{
	border-top: 1px dashed #000;
}

/*

test
*/

ul.topnav li.icon {display: none;}

@media screen and (max-width: 860px) {
    ul.navbar-nav li{display: none;}
    ul.navbar-right li{display: none;}
    ul.navbar-nav li.dropdown {
        float: left;
        display: inline-block;
    }
}
@media (min-width: 861px){
    ul.navbar-nav li.dropdown{display: none;}
}


.navbar-header, .navbar-nav {
    float: left;
}


@media screen and (max-width:860px) {
     /* Dropdown Button */
.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
  }


.navbar-right{
	float: right;
}


.text-comment{
    border-style: none;
    background-color: #FAFAFA;
    overflow: hidden;
    padding: 0;
    width: 100%;
    outline: none;
    resize: none;
    height: auto;
    width : auto;
 }

.comment{
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FAFAFA;
    width: 80%;
    box-shadow: 3px 0px 3px #888888;
    margin: 10px 0px 10px 20%;
    padding: 10px 15px;
 }

 .editComment{
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FAFAFA;

    width: 80%;
    box-shadow: 3px 0px 3px #888888;
    margin: 10px 0px;
    padding: 10px 15px;
 }

.del-comment{
   float: right;
   height: 10px;
   width: 10px;
   display: none;
}

.chat-survey{
   margin-bottom: 10px;
}
 
.js-captcha-refresh{
   height: 30px;
   width: 30px;
}

.js-captcha-refresh > img{
   height: 20px;
   width: 20px;
}
